<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
       <a href="/questions">Questions</a> |
       <a href="/questions/new">New Question</a>
    </nav>
