<%
  const actionUrl =
    /post/i.test(method) ? "/questions" : `/questions/${question.id}`;
%>

<form action="<%= actionUrl %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>" />
  <div>
    <label for="title">Title</label>
    <input type="text" id="title"
      name="title" value="<%= question.title %>">
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description"><%= question.description %></textarea>
  </div>

  <input type="submit" name="submit" value="Submit"/>
</form>
